<div class="navbar-lewagon">
  <h1>Create a NEW list</h1>
</div>


<div class="form-check:first-of-type">
<%= simple_form_for [@list] do |f| %>
  <%= f.input :name %>
  <%= f.submit "Create a Movie List" %>
<% end %>
</div>
